body {
	border: 2px solid black;
	border-bottom: none;
	font-family: Lato;
	background-color: white;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Signika;
}

.banner {
	background-color: #2E3192;
	border-bottom: 12px solid #967A3D;
	height: 120px;
}

.logo {
	margin-left: 550px;
}

.small-font {
	font-size: 12px;
	text-align: center;
}

/*.right {
	967A3D
	2E3192
}*/

.resize {
	width: 1000px;
	height: 305px;
	margin: 5px auto;
	border: 4px solid #221358;
}

.large-9 {
	border-right: 2px solid gray;
}

.top-bar-section ul li>a {
	/*font-weight: bold;*/
	font-size: 0.9rem;
	/*margin-right: 24px;*/
	font-family: "Open Sans";
	border-top: 2px solid grey;
	border-bottom: 2px solid grey;

}





figcaption {
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}

.side h5 {
	
	text-align: center;
}

.article-list {
	border-bottom: 2px solid dimgrey;
	margin-bottom: 10px;
	padding: 10px;
}

.bold {
	font-weight: bold;
}

.italics {
	font-style: italic;
}